:root {
    --japanese-indigo:#213c54;
    --pastel-blue:#a6c9d8;
    --rackley: #648cac;
    --bdazzled-blue: #285c8c;
    --onyx: #333637;
    --columbia-blue: #c2d4db;
    --black: #000000;
    --sm: 14px;
    --md: 20px;
    --lg: 24px;
}

body{
    margin: 0;
    font-family: 'Roboto Flex', sans-serif;
    
}

.form-container{
    display: grid;
    grid-template-rows: auto 1fr auto auto;
    width: 300px;  
    place-items: center;     
    
        width: 100%;
        height: 100vh;
      
}



.div-column-input{
    width: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div-column{

    display: grid;
            grid-template-columns: auto auto  auto;
            gap: 16px;
            margin-bottom: 24px;
            align-items: center;
            border: 2px; 
}



.label{
    font-size: var(--md);
    font-weight: bold;
    margin-bottom: 4px;
    color: var(--japanese-indigo);
}

.input{
    background-color: var(--onyx);
    border: none;
    border-radius: 8px;
    height: 30px;
    font-size: var(--md);
    color: var(--columbia-blue);
    padding: 6px;
    margin-bottom: 12px;
    
}

.primary-button{
    background-color: var(--japanese-indigo);
    border-radius: 8px;
    border: none;
    color: var(--columbia-blue);
    width: 100%;
    cursor:pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.result-title{
    color: var(--onyx);
    font-size: var(--lg);
    font-weight: bold;
    width: 100%;
    background-color: var(--pastel-blue);
}

.result-value{
    color: var(--onyx);
    font-size: var(--md);    
    font-weight:500;
}